# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Table of open source tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL
4. R
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

| Data Science Tools |
| ---------------------------|
|Jupyter Notebook|
|RStudio |
|MATLAB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers

In [6]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author
Pat